<div class="form-container form-group">
    <h2>Cargar Documento</h2>
    <form class="form" [formGroup]="">
        <input type="text" class="input" formControlName="docNumber" placeholder="Número del documento">
        <input type="text" class="input" formControlName="imgPath" placeholder="Image Path">
        <input type="text" class="input" formControlName="idCompany" placeholder="Id de empresa">
        <input type="text" class="input" formControlName="idSector" placeholder="Id de sector">
        <div class="form-buttons">
            <button type="button" (click)="saveDocument()">Agregar</button>
            <button type="button" (click)="resetForm()">Limpiar</button>
        </div>
    </form>
</div>