<nav class="animated fadeIn fast">
  <div class="nav-logo"><img src="assets/img/icon.png" alt="documentos online"></div>

  <ul class="navbar-options">
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/documentos']">Documentos</a></li>
    <!-- <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/sectores']">Sectores</a></li> -->
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/empresas']">Empresas</a></li>
  </ul>
</nav>